<a-scene
  webar-scene="key: 24c5acc0-0f83-4729-9100-efbcb91ba376"
  vr-mode-ui="enabled: false"
  device-orientation-permission-ui="enabled: false"
  loading-screen="enabled: false"
  renderer="colorManagement: true;"
  gltf-model="dracoDecoderPath: https://www.gstatic.com/draco/v1/decoders/"
>
  <!-- Step 3: Add webar-camera attribute to AFrame's <a-entity camera> tag -->
  <a-camera webar-camera></a-camera>
  <a-camera webar-camera2 look-controls="enabled:true"></a-camera>

  <a-assets timeout="60000">
    <a-asset-item
      id="astronaut"
      src="models/Animated-Astronaut.glb"
    ></a-asset-item>
  </a-assets>
  <a-entity
    id="deskenv"
    environment="preset: starry; groundColor: #222; gridColor: #f28500;"
  ></a-entity>
  <a-light type="ambient" color="#000000ff"></a-light>

  <!-- Step 4: Add webar-stage attribute to an AFrame's parent <a-entity> tag -->
  <!-- position of webar-stage entity works only on the desktop if render-scene-on-desktop is true. On phone browser experience, the position is controlled by the sdk. -->
  <a-entity webar-stage position="0 1 -2">
    <!-- Step 5: Add AR models under the webar-stage node -->
    <!-- Add webar-loadmonitor attribute to the entities to display loading progress screen before starting the surface tracking -->
    <!-- Refer API Reference documentation for more details -->
    <a-entity
      webar-ux-control="stageCursorUX: true; userGestureRotation: true; userGestureScale: true"
    >
      <a-entity
        gltf-model="#astronaut"
        id="armodel"
        animation-mixer="clip:moon_walk"
        rotation="0 0 0"
        position="0 0 0"
        scale="0.35 0.35 0.35"
        draco-loader="decoderPath: https://www.gstatic.com/draco/v1/decoders/"
        webar-loadmonitor="elType: glb"
      >
      </a-entity>
    </a-entity>
    <!-- <a-box webar-ground-plane></a-box> -->
  </a-entity>
</a-scene>
