<ul>
  <li>
    <a href="https://test1.vodafone.com.eg/portal/blippar"
      >Staging BlippAR PORTAL</a
    >
  </li>
  <li>
    <a href="https://test1.vodafone.com.eg/portal/bf/blippar"
      >Staging BlippAR BF</a
    >
  </li>
  <li>
    <a routerLink="/blippar-aframe">Local BlippAR Aframe</a>
  </li>
  <li>
    <a href="https://blippar-native.netlify.app/"
      >Native BlippAR</a
    >
  </li>

<li>
    <a href="https://mahmoudmeky.8thwall.app/test/"
      >8th wall ex</a
    >
  </li>

<li>
    <a href="https://ubiquitous-kheer-a2fc55.netlify.app"
      >Aframe ex</a
    >
  </li>
<li>
    <a href="https://blippar-minimal-ui.netlify.app"
      >Blipp Minimal UI</a
    >
  </li>
<li>
    <a href="https://blippar-2.netlify.app/"
      >Blipp -2</a
    >
  </li>
<li>
    <a href="https://advanced-blippar.netlify.app
"
      >Adavnced</a
    >
  </li>


  <hr/>

  <li>
    <a href="https://support-fix2.netlify.app"
      >Support Fix</a
    >
  </li>
</ul>





