<ul>    
  
  <li>
    <a href="https://test1.vodafone.com.eg/LB/yougoGame2/index.html">GYROSCOPE GAME</a>
  </li>


  
  <li>
    <a href="https://test1.vodafone.com.eg/LB/yougoGame/index.html">STAGING LINK</a>
  </li>

  <!-- <li>
    <a href="https://test1.vodafone.com.eg/portal/bf/blippar"
      >Staging BlippAR BF</a
    >
  </li> -->
  <!-- <li>
    <a routerLink="/blippar-aframe">Local BlippAR Aframe</a>
  </li> -->
  <!-- <li>
    <a href="https://blippar-native.netlify.app/"
      >Native BlippAR</a
    >
  </li> -->

  <!-- <li>
    <a href="https://mahmoudmeky.8thwall.app/test/"
      >8th wall ex</a
    >
  </li> -->
  <!-- 
<li>
    <a href="https://ubiquitous-kheer-a2fc55.netlify.app"
      >Aframe ex</a
    >
  </li> -->
  
  <!-- <li>
    <a href="https://blippar-minimal-ui.netlify.app"
      >Blipp Minimal UI</a
    >
  </li>
<li>
    <a href="https://blippar-2.netlify.app/"
      >Blipp -2</a
    >
  </li>-->


  <!-- <li>
    <a href="https://advanced-blippar.netlify.app
">Adavnced</a>
  </li> -->


  <!-- <hr /> -->

  <!-- <li>
    <a href="https://support-fix2.netlify.app">Support Fix</a>
  </li> -->


<!-- 
  <li>
    <a href="https://angular-blippar.netlify.app
">Angular External</a>
  </li> -->
<!-- 
  <li>
    <a href="https://reset-btn-workaround.netlify.app">Reset Button Workaround</a>
  </li>




  <li>
    <a href="https://ar-game-exp.netlify.app">Game Exp</a>
  </li>


  <li>
    <a href="https://angular-blippar.netlify.app/">Angualr Blippar</a>
  </li>
 -->



</ul>






