
<a href="https://onirix-ar.github.io/threejs/surface-tracking-hit-test/">Onirix Example</a>
<br><br><a href="https://localhost:4200/">Localhost:4200</a>
<br><br><a href="https://localhost:8080/">Localhost:8080</a>
<br><br><a href="https://127.0.0.1:4200/">127.0.0.1</a>
<br><br><a href="https://127.0.0.1:8080/">127.0.0.1:8080</a>
<br><br><a href="https://test1.vodafone.com.eg/portal/youtube-ar-game">promo portal</a>
<br><br><a href="https://test1.vodafone.com.eg/portal/bf/youtube-ar-game">promo bf</a>


<br><br><a href="https://zapworks.netlify.app">Zapworks</a>




<hr/>
<div style="margin-top: 30px; font-family: Arial, sans-serif;">
  <label style="display: block; margin-bottom: 8px; font-weight: bold;">
    Enter Link
  </label>

  <input
    type="text"
    placeholder="Enter link here..."
    [(ngModel)]="link"
    style="display: block; width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 6px; margin-bottom: 16px;"
  />


  <div>
    <a
      [href]="link"
      target="_blank"
      rel="noopener noreferrer"
      style="color: #007bff; text-decoration: underline; font-size: 14px;"
    >
      {{ link }}
    </a>
  </div>
</div>
